*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: #1E2D3B;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 70px;
  width: 100%;
  background: #2E3A46;
  display: flex;
}
header img{
  height: 100%;
  padding: 5px;
  cursor: pointer;
}

.wrapper{
  width: 100%;
  max-height: 100vh;
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
}

.card{
  width: 230px;
  max-height: 100%;
  background: #2E3A46;
  padding: 15px;
  margin: 20px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.card img {
  max-width: 100%;
  height: 200px;
  padding: 10px;
}
.card *{
  text-align: center;
  cursor: pointer;
}
.card h3{
  text-transform: uppercase;
  margin: 10px 0;
}
.card span{
  color: #a6a6a6;
}

select{
  align-self: center;
  margin-left: 20px;
  padding: 8px;
  border-radius: 5px;
  width: 100px;
  border: none;
  background: #1E2D3B;
  color: #fff;
}
select:focus{
  outline: none;
}
